<button (click)="collapseAll()">collapse</button>
<ul class="parent" [ngClass]="{
  'collapsed': collapsed
}">
  @for (menuItem of menu; track $index) {
  <ng-container *ngTemplateOutlet="menuItemRef; context: { menuItem }" />
  }
</ul>

<ng-template #menuItemRef let-menuItem="menuItem">
  <li [attr.data-expanded]="menuItem.expanded ? true : false">
    <div class="menu-item">
      <a #link [attr.data-link]="menuItem.id" routerLinkActive="active-route"
        [routerLink]="'home/' + menuItem.id">
        <!-- @if (menuItem.icon) {
        <img [src]="menuItem.icon">
        } -->
        {{ menuItem.title }}
      </a>
      @if (!menuItem.loadedChildren || menuItem.children?.length) {
        <button #expandBtn class="expand-button" [ngClass]="{
          'active': menuItem.expanded
        }" (click)="toggleMenuItem(menuItem)" [disabled]="loading">▾</button>
      }
    </div>

    @if (menuItem.children?.length) {
    <ul [@slideToggle]="menuItem.expanded ? 'open' : 'closed'">
      @for (subMenuItem of menuItem.children; track $index) {
      <ng-container *ngTemplateOutlet="menuItemRef; context: { menuItem: subMenuItem }" />
      }
    </ul>
    }
  </li>
</ng-template>