ul.parent {
  list-style: none;
  padding-left: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

li {
  margin-bottom: 5px;
}
